.axis {
	stroke: black;
	stroke-width: 1px;
	marker-mid: url(#tickmark);
	marker-end: url(#arrowhead);
}

.depth0 { stroke-width: 0.9px; stroke: #808080; }
.depth1 { stroke-width: 0.8px; stroke: #A6A6A6; }
.depth2 { stroke-width: 0.7px; stroke: #BFBFBF; }
.depth3 { stroke-width: 0.6px; stroke: #E6E6E6; }

#arrowhead {
	stroke: black;
	fill: none;
}

#tickmark {
	stroke: black;
	stroke-width: 2px;
}

.graph:nth-of-type(1) {
	stroke: red;
}

.graph:nth-of-type(2) {
	stroke: blue;
}

.graph:nth-of-type(3) {
	stroke: green;
}

.graph_segment {
	fill: none;
	stroke-width: 1.5px;
	marker-start: url(#continuity);
	marker-end: url(#discontinuity);
}

#discontinuity {
	fill: white;
	stroke: black;
}
