.axis {
	stroke: black;
	stroke-width: 1px;
	marker-mid: url(#tickmark);
	marker-end: url(#arrowhead);
}

.depth0 { stroke-width: 0.9px; stroke: hsl(0, 0%, 50%); }
.depth1 { stroke-width: 0.8px; stroke: hsl(0, 0%, 65%); }
.depth2 { stroke-width: 0.7px; stroke: hsl(0, 0%, 75%); }
.depth3 { stroke-width: 0.6px; stroke: hsl(0, 0%, 90%); }

#arrowhead {
	stroke: black;
	fill: none;
}

#tickmark {
	stroke: black;
	stroke-width: 2px;
}

.graph {
	fill: none;
	stroke: black;
	stroke-width: 1.5px;
	marker-start: url(#continuity);
	marker-end: url(#discontinuity);
}

#discontinuity {
	fill: white;
	stroke: black;
}
